<div class="login-container">
  <div class="login-card">
    <h2>Bienvenido a <span class="logo-text">MiLiga</span></h2>
    <p>Inicia sesión para gestionar tus ligas</p>

    <form [formGroup]="loginForm" (ngSubmit)="acceder()">
      <div class="input-group">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="tu@email.com">
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="******">
      </div>

      @if (errorLogin) {
        <p class="error-msg">Email o contraseña incorrectos</p>
      }

      <button type="submit" [disabled]="loginForm.invalid" class="btn-primary">
        Entrar
      </button>
      </form>

    <p class="footer-text">
      ¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí</a>
    </p>
  </div>
</div>