<section class="hero-full">
  <div class="hero-content">
    <span class="hero-tag">TEMPORADA 2026</span>
    <h1>Lleva tu equipo a la <span class="highlight">Gloria</span></h1>
    <p>La plataforma definitiva para la gestión de ligas universitarias.</p>
    <div class="hero-btns">
      <button class="btn-cta" routerLink="/campeones">Galería de Campeones</button>
      <button class="btn-secondary" routerLink="/ligas">Ver Clasificaciones</button>
    </div>
  </div>
  <div class="scroll-indicator">↓</div>
</section>

<div class="container" id="noticias-home">
  <div class="section-header">
    <h2 class="section-title">Noticias</h2>
    <a routerLink="/noticias" style="cursor: pointer; text-decoration: none; color: #94a3b8;">
  Ver todas las noticias →
</a>
  </div>

  <div class="main-news-card">
    <div class="news-img-box">
      <img src="https://images.unsplash.com/photo-1574629810360-7efbbe195018?q=80&w=2000" alt="Estadio">
    </div>
    <div class="news-info">
      <span class="news-label">OFICIAL</span>
      <h3>¡Abiertas las inscripciones para la Copa Primavera!</h3>
      <p>Ya está disponible el formulario para registrar a tu equipo. No te quedes fuera del torneo más importante del año.</p>
      <button class="btn-text" routerLink="/noticias">Leer noticia completa</button>
    </div>
  </div>
</div>